<div class="row  form-group">
  <div class="col-xs-6">
    <div>Level</div>
    <div><input type="text" class="form-control" name="caseNo"></div>
  </div>
  <div class="col-xs-6">
    <div>Judgement</div>
    <div><input type="text" class="form-control" name="judgement"></div>
  </div>
</div>

<div class="row  form-group">
  <div class="col-xs-6">
    <div>Prosecutor</div>
    <div><input type="text" class="form-control" name="prosecutor"></div>
  </div>
  <div class="col-xs-6">
    <div>Inspector</div>
    <div><input type="text" class="form-control" name="inspector"></div>
  </div>
</div>

<div class="row  form-group">
  <div class="col-xs-6">
    <div>Defendents</div>
    <div class="col-xs-8" style="padding-left: 0px;padding-right: 0px;"><input type="text" class="form-control" name="defendents"></div>
    <div class="col-xs-4" style="padding-left: 0px;padding-right: 0px;"><button class="btn btn-block btn-primary">ADD</button></div>
  </div>
  <div class="col-xs-6">
    <div>Defendents</div>
    <div class="col-xs-8" style="padding-left: 0px;padding-right: 0px;"><input type="text" class="form-control" name="defendents"></div>
    <div class="col-xs-4" style="padding-left: 0px;padding-right: 0px;"><button class="btn btn-block btn-primary">ADD</button></div>
  </div>
</div>

<div class="row  form-group">
  <div class="col-xs-6" style="padding-top: 5px">
    <select multiple class="form-control" name="caseDefendentsSelected"></select>
  </div>

  <div class="col-xs-6" style="padding-top: 5px">
    <select multiple class="form-control" name="caseDefendentsSelected1"></select>
  </div>
</div>
